* {
  padding: 0;
  margin: 0;
  font-family: "Roboto Flex", sans-serif;
}

header {
  display: flex;
  height: 100px;
  background-color: rgb(201, 196, 66);
  margin-bottom: 15px;
  width: 80%;
  margin: 10px auto;
  border-radius: 10px;
  justify-content: space-around;
}

header a {
  line-height: 100px;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
}

header a:hover {
  color: brown;
}

body {
  background-image: url(https://akvafan.ru/sites/files/images/2019/oranda-4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.content {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  max-height: auto;
}

img {
  border-radius: 10px;
  max-width: 30%;
  min-height: 20vh;
  margin: 0 20px 20px 0;
  float: left;
  transition: all 2s ease;
}

img:hover {
  transform: scale(1.1, 1.1);
}

p {
  font-size: 2rem;
  text-align: justify;
  color: azure;
}
p::first-line {
  font-weight: bold;
  line-height: 3rem;
}
